/*extra small device*/
@media(max-width:575px) {
    #heading h3 {
        font-size: 28px;
    }

    .navbar .navbar-brand {
        position: static;
    }

    .navbar .navbar-nav {
        background: #e23e38;
        text-align: center;
    }

    .navbar-light .navbar-toggler {
        margin-left: auto;
        border: 1px solid #fff;
        margin-right: 10px;
    }

    .navbar-light .navbar-toggler {
        color: #fff;
    }

    #banner .banner-item {
        padding-top: 170px;
        padding-bottom: 90px;

    }

    #banner .banner-text h3 {
        font-size: 25px;

    }

    #banner .bg1 .banner-text h3:before {
        display: none;
    }

    #banner .bg1 .banner-text h3:after {
        display: none;
    }

    #banner .bg1 .banner-text::before {
        display: none;
    }

    #banner .bg1 .banner-text::after {
        display: none;
    }

    #banner .bg1 .banner-text p::before {

        display: none;
    }

    #banner .bg1 .banner-text p::after {

        display: none;
    }

    #banner .bg1 .banner-text h1 {
        font-size: 45px;
    }

    #banner .bg1 .banner-text h1:before {
        display: none;
    }

    #banner .bg1 .banner-text h1:after {
        display: none;
    }

    #about {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    #about .about-text p:last-of-type {
        padding-bottom: 30px;
    }
    
    #classes .classes-menu .nav-pills .nav-link{
	    width: 179px;
        margin: 1px;
        line-height: 40px;
    }
    #classes .class-item ul li{
        width: 240px;
        height: 190px;
        margin: 15px;
    }
    /* clasess ends */
}

/*extra small device*/

/* small device*/
@media(min-width:576px) and (max-width:767px) {
    #heading h3 {
        font-size: 28px;
    }

    .navbar .navbar-brand {
        position: static;
    }

    .navbar .navbar-nav {
        background: #e23e38;
        text-align: center;
    }

    .navbar-light .navbar-toggler {
        margin-left: auto;
        border: 1px solid #fff;
        margin-right: 10px;
    }

    .navbar-light .navbar-toggler {
        color: #fff;
    }

    #banner .banner-item {
        padding-top: 200px;
        padding-bottom: 90px;
    }

    #banner .banner-text h3 {
        font-size: 25px;

    }

    #banner .bg1 .banner-text h3:before {
        display: none;
    }

    #banner .bg1 .banner-text h3:after {
        display: none;
    }

    #banner .bg1 .banner-text::before {
        display: none;
    }

    #banner .bg1 .banner-text::after {
        display: none;
    }

    #banner .bg1 .banner-text p::before {

        display: none;
    }

    #banner .bg1 .banner-text p::after {

        display: none;
    }

    #banner .bg1 .banner-text h1 {
        font-size: 45px;
    }

    #banner .bg1 .banner-text h1:before {
        display: none;
    }

    #banner .bg1 .banner-text h1:after {
        display: none;
    }
    
    #classes .classes-menu .nav-pills .nav-link{
	    width: 168px;
        margin: 1px;
        line-height: 40px;
    }
    #classes .class-item ul li{
        width: 240px;
        height: 190px;
    }
}

/* small device*/

/* media device*/
@media(min-width:768px) and (max-width:991px) {
    #heading h3 {
        font-size: 28px;
    }

    .navbar .navbar-brand {
        position: static;
    }

    .navbar .navbar-nav {
        background: #e23e38;
        text-align: center;
    }

    .navbar-light .navbar-toggler {
        margin-left: auto;
        border: 1px solid #fff;
        margin-right: 10px;
    }
    
    menu .nav-pills .nav-link {
    width: 168px;
    margin: 1px;
    line-height: 40px;
}

    .navbar-light .navbar-toggler {
        color: #fff;
    }

    #banner .banner-item {
        padding-top: 200px;
        padding-bottom: 90px;
    }

    #banner .banner-text h3 {
        font-size: 25px;

    }

    #banner .bg1 .banner-text h3:before {
        display: none;
    }

    #banner .bg1 .banner-text h3:after {
        display: none;
    }

    #banner .bg1 .banner-text::before {
        display: none;
    }

    #banner .bg1 .banner-text::after {
        display: none;
    }

    #banner .bg1 .banner-text p::before {

        display: none;
    }

    #banner .bg1 .banner-text p::after {

        display: none;
    }

    #banner .bg1 .banner-text h1 {
        font-size: 45px;
    }

    #banner .bg1 .banner-text h1:before {
        display: none;
    }

    #banner .bg1 .banner-text h1:after {
        display: none;
    }
    
    #classes .classes-menu .nav-pills .nav-link{
	    width: 168px;
        margin: 1px;
        line-height: 40px;
    }
    #classes .classes-menu .nav-pills #friday-tab{
        margin-left: 172px;
    }
    #classes .class-item ul li{
        width: 160px;
        height: 190px;
    }
    
    #classes .class-item ul #mr02{
        margin-left: 175px;
    }
}

/* media device*/

/* large device*/
@media (min-width: 992px) and (max-width: 1199px){
   #banner .bg1 .banner-text::before {
    content: '';
    width: 3px;
    height: 97%;
    background: #e23e38;
    position: absolute;
    top: 2px;
    left: -8px;
    margin-top: 17px;

}

#banner .bg1 .banner-text::after {
    content: '';
    width: 3px;
    height: 93%;
    background: #e23e38;
    position: absolute;
    top: 2px;
    right: -30px;
    margin-top: 17px;
}
    #banner .bg1 .banner-text h3::before {
    content: '';
    width: 107px;
    height: 3px;
    background: #e23e38;
    position: absolute;
    top: 18px;
    left: -8px;
}

#banner .bg1 .banner-text h3::after {
    content: '';
    width: 80px;
    height: 3px;
    background: #e23e38;
    position: absolute;
    top: 18px;
    right: -30px;
}



#banner .bg1 .banner-text p::before {
    content: '';
    width: 25px;
    height: 3px;
    background: #e23e38;
    position: absolute;
    bottom: -13px;
    left: -8px;
}

#banner .bg1 .banner-text p::after {
    content: '';
    width: 21px;
    height: 3px;
    background: #e23e38;
    position: absolute;
    bottom: -4px;
    right: -30px;
}
    #banner .bg1 .banner-text h3 {
	font-family: var(--hfont);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	position: relative;
	padding-left: 20px;
}

    #banner .bg1 .banner-text p {
	font-family: var(--hfont);
	font-weight: 400;
	font-size: 13px;
	padding-left: 20px;
}
    #banner .banner-text h1 {
    font-family: var(--hfont);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    color: #e23e38;
    padding-left: 25px;
}
    
    #classes .classes-menu .nav-pills .nav-link{
	    width: 168px;
        margin: 1px;
        line-height: 40px;
    }
    #classes .classes-menu .nav-pills #monday-tab{
        margin-left: 35px;
    }
    #classes .classes-menu .nav-pills #saturday-tab{
        margin-left: 375px;
    }
    #classes .class-item ul li{
        width: 175px;
        height: 190px;
    }
    
    .slick-slide img{
        margin-left: 10px;
    }
    footer .footer-contact nav a{
        margin-right: 1px;
    }

}

/* large device*/
